{% extends 'myapp/base.html' %}

{% block contend %}
<div class="container mt-5 ml-5">
    <h1 class="text-warning mb-5 border-bottom">Skills</h1>
    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-4 font-italic">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                  style="width:80%" aria-valuenow="100" aria-valuemin="0"
                   aria-valuemax="100">80%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-4 font-italic">JavaScript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                  style="width:70%" aria-valuenow="100" aria-valuemin="0"
                   aria-valuemax="100">70%</div>
            </div>
        </div>
        <div class="col-sm-5">
            <h3 class="mt-4 font-italic">Python</h3>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                  style="width:80%" aria-valuenow="100" aria-valuemin="0"
                   aria-valuemax="100">80%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-4 font-italic">Django</h3>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                  style="width:80%" aria-valuenow="100" aria-valuemin="0"
                   aria-valuemax="100">80%</div>
            </div>
        </div>
        <div class="col-sm-5">
            <h3 class=" mt-4 font-italic">SQL Server</h3>
            <div class="progress">
                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
                  style="width:65%" aria-valuenow="100" aria-valuemin="0"
                   aria-valuemax="100">65%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-4 font-italic">Bootstrap</h3>
            <div class="progress">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated " role="progressbar"
                  style="width:50%" aria-valuenow="100" aria-valuemin="0"
                   aria-valuemax="100">50%</div>
            </div>
        </div>
    </div>
</div>

{% endblock contend %}