<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jakeer-portfolio</title>
    <link rel="stylesheet" href="{% static 'myapp/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}" />
    
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    {% block webappcss %}
     <link  href="{% static 'myapp/css/style.css' %}" rel="stylesheet" />
    {% endblock webappcss %}
    
  
  </head>
  <body>
      <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-2">
                
                  {% include 'myapp/sidebar.html' %}
            </div>
            <div class="col-sm-10">
                {% block contend %}

                {% endblock contend %}
            </div>

          


        </div>

      </div>




    <script src="{% static 'myapp/js/jquery.js' %}"></script>
    <script src="{% static 'myapp/js/proper.js' %}"></script>
    <script src="{% static 'myapp/js/all.min.js' %}"></script>
    <script src="{% static 'myapp/js/bootstrap.js' %}"></script>
  </body>
</html>
