{% extends 'myapp/base.html' %}
 {% load static %} 
 {% block contend %}
<div class="text-center mt-4">
  <img
    src="{% static 'myapp/images/jak.jpg' %}"
    alt="not found"
    class="img-thumbnail"
    width="350px"
    height="290px"
  />
  
  
</div>
<div class="text-white text-justify ">
  <h2 class="text-white mt-3 ml-4 st-font">Hello,</h2>
  <div class="px-4" style="line-hest-fontight:2rem;">
    <p style='text-indent:100px;'>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente vel
      atque beatae at maxime repudiandae, optio commodi, amet minus nihil
      consequatur ipsam ducimus?amet minus nihil consequatur ipsam ducimus? Nemo
      laborum corporis praesentium est asperiores recusandae!
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti veniam velit 
      id quam fugiat, autem excepturi iure, atque ipsa facilis recusandae aperiam in dolor 
      corporis voluptates est vero aut aliquid?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti veniam velit 
      id quam fugiat, autem excepturi iure, atque ipsa facilis recusandae aperiam in dolor 
      corporis voluptates est vero aut aliquid?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti veniam velit 
      id quam fugiat, autem excepturi iure, atque ipsa facilis recusandae aperiam in dolor 
      corporis voluptates est vero aut aliquid?</p>
  </div>
  <div class="text-center">
    <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-r mt-5 font-italic">Hire Me</a>
  </div>
</div>
{% endblock contend %}
