{% extends 'myapp/base.html' %}
 {% load static %} 
 {% block contend %}
<div class="text-center mt-4">
  <img
    src="{% static 'myapp/images/jak.jpg' %}"
    alt="not found"
    class="img-thumbnail"
    width="350px"
    height="290px"
  />
  
  
</div>
<div class="text-white text-justify ">
  <h2 class="text-white mt-3 ml-4 st-font">Hello,</h2>
  <h2  class="text-white mt-3 ml-4 st-font">I'm Jakeer Ahamed ,</h2>
  <h2  class="text-white mt-3 ml-4 st-font">Web Developer & Programmer .</h2>
  <div class="px-5 text-white mt-4 st-font" style="line-hest-fontight:2rem;">
    <h5>
    If you are a business seeking a web presence or an employer looking to hire, you can get in touch with me
       <a class="text-warning font-weight-bold" href="{% url 'contact' %}">here</a></h5>
  
  </div>
  <div class="text-center">
    <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-r mr-5 mt-5 font-italic">Hire Me</a>
  </div>
</div>

{% endblock contend %}
